#background{
    background-image: url('./images/electricBorder.jpg');
    flex-grow: 1;
    height: 1000px;
}
.text{
    font-size: 200%;
    color: red;
}
.title{
    font-size: 400%;
    color: red;
    text-align: center;
}
#scrapedImg{
    margin-left: 10%;
}

